html,
body {
   height: 100%;
   color: rgb(117, 121, 121);
   background-color: #000000;
}
body li{
   list-style-type: none;
}
body {
   height: 100vh;
   display: flex;
   flex-grow: 1;
   min-width: 100%;
   font-family: "Unifont", sans-serif;
}

#root {
   width: 100%;
   min-height: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
}

