.form {
   display: flex;
   padding: 30px;
   border: solid rgb(210, 233, 212) 1px;
   border-radius: 0px;
   flex-direction: column;
   gap: 50px;
   max-width: fit-content;
   &__label {
      color: #b4886b;
      font-weight: bold;
      display: block;
      width: 150px;
      float: left;
   }

   &__btn {
      background-color: rgb(98, 13, 109);
      color: antiquewhite;
      padding: 5px 10px;
      border-radius: 5px;
      -webkit-box-shadow: 5px 5px 15px 5px #000000;
      box-shadow: 5px 5px 15px 5px #000000;
   }
}
