// .form{
// 	display: flex;
//  }
.form {
   display: flex;
   padding: 30px;
   align-items: center;
   justify-content: center;
   background: #333333;

   //    &__btn {
   //       background-color: rgb(98, 13, 109);
   //       color: antiquewhite;
   //       padding: 5px 10px;
   //       border-radius: 5px;
   //       -webkit-box-shadow: 5px 5px 15px 5px #000000;
   //       box-shadow: 5px 5px 15px 5px #000000;
   //    }
   &__btn {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      width: 200px;
      height: 200px;
      font-size: 60px;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background: #333333;
      box-shadow: 5px 5px 10px •#202020, -5px -5px 10px #464646;
   }
}
