.form {
   display: flex;
   padding: 30px;
   border: solid rgb(209, 53, 53) 1px;
   border-radius: 0px;
   flex-direction: column;
   gap: 50px;
   &__label {
   
      font-weight: bold;
      display: block;
      width: 150px;
      float: left;
   }
   &__btn {
      padding: 5px 10px;
      border-radius: 5px;
      -webkit-box-shadow: 5px 5px 15px 5px #000000;
      box-shadow: 5px 5px 15px 5px #000000;
   }
}
